table.wgo-player-table {
	max-width: 750px;
	margin: 0 auto;
}

.wgo-bg-img {
	display: inline-block;
	margin: 0 10px 10px 0;
	width: 120px;
}

.wgo-bg-img img {
	border: 1px solid black;
}

.wgo-player-main {
	margin-top: 0;
	margin-bottom: 1.2em;
}

.wgo-player-floating-left {
	margin-left: 0;
	margin-right: 1.2em;
}

.wgo-player-floating-right {
	margin-left: 1.2em;
	margin-right: 0em;
}